.equipo-section {
  padding: 40px;
  background-color: #a52b9f;
  text-align: center;
}

.equipo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.equipo-card {
  background-color: rgb(6, 141, 78);
  border: 1px solid #7e0faa;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.equipo-card h3 {
  margin-bottom: 10px;
  color: #020101;
}

.equipo-card p {
  color: #0e0404;
  font-size: 14px;
}
